* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.folder {
  margin-top: 5px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  border: 1px solid black;
  height: 15px;
  width: 15px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* visibility: hidden; */
}

.hidden {
  visibility: hidden;
}

.img {
  width: 20px;
  height: 20px;
}

.child {
  margin-left: 40px;
}

.none {
  display: none;
}
